.Head{
  padding: 30px 12px;
  height: 100px;
  background: rgb(141, 171, 190);
  &-Info{
    display: flex;
    justify-content: left;
    align-items: center;
    img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    div{
      font-size: 21px;
      line-height: 31px;
      margin-left: 8px;
    }
  }
}