@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	word-break: break-all;
}

fieldset,
img {
	border: 0;
}

ul,
ol,
li {
	list-style: none;
	font-family: 'Microsoft YaHei';
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: normal;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	background-color: #fff;
	border: none;
}

code,
kbd,
samp,
tt {
	font-size: 100%;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea {
	*font-size: 100%;
}

ol,
ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

caption,
th {
	text-align: left;
}

sup,
sub {
	font-size: 100%;
	vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow! */
blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/**Common Css**/
.fr {
	float: right;
	*display: inline;
}

.fl {
	float: left;
	*display: inline;
}

/*文本超出显示省略号*/
.ehn,
.otw,
.tow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*清除浮动*/
.clearfix {
	clear: both;
	*zoom: 1;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "\0020";
	visibility: hidden;
	height: 0;
}

